@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Biblioteca HBSIS</h1>
    <p class="lead">Uma livraria da cidade teve um aumento no número de seus exemplares e está com um problema para identificar todos os livros que possui em estoque.</p>
</div>